<% for(var i = post.length-1; i >= 0 ; i--) { %>
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="/images/log2.jpg" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">Anonymous<%=i%></a></ins>
                    <span>published: <%=post[i].createdAt.toDateString()%> <%= post[i].createdAt.toLocaleTimeString()%></span>
                </div>
                <div class="description">
                        
                        <p>
                           <%=post[i].post%>
                        
                        </p>
                </div>
                <!-- <div class="post-meta">	 -->
                    <div class="we-video-info">
                        <ul>
                            <li>
                                <span class="comment" data-toggle="tooltip" title="Comments">
                                    <i class="fa fa-comments-o" style="font-size:16px"></i>
                                    <ins><%=post[i].comments.length%></ins>
                                </span>
                            </li>
                            <li>
                                <span class="like" data-toggle="tooltip" title="likes">
                                    <i class="fa fa-thumbs-up" style="font-size:16px"></i>
                                    <ins>0</ins>
                                </span>
                            </li>
                        </ul>

                    </div>
                    
                <!-- </div> -->
            </div>
            <hr class="border  ">
           
            <div class="coment-area">
                <ul class="we-comet">
                    
                        <% for(var j = 0 ; j < post[i].comments.length ; j++) { %>
                            <li>
                                <div class="comet-avatar">
                                    <img src="/images/log2.jpg" alt="">
                                </div>
                                <div class="we-comment">
                                    <div class="coment-head">
                                        <h5><a href="time-line.html" title=""></a>Anonymous<%=i%>.comment<%=j%></h5>
                                        <span><%=Math.floor((new Date().getTime()- post[i].comments[j].createdAt.getTime())/(1000*3600*24))%> days ago</span>
                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                    </div>
                                    <p style="width:100%; word-break:break-all;"><%=post[i].comments[j].comment%>
                                        <!-- <i class="em em-smiley"></i> -->
                                    </p>
                                </div>
                            </li>
                            <% } %>
                          
                    
                    <li class="post-comment">
                        <div class="comet-avatar">
                            <img src="/images/log2.jpg" alt="">
                        </div>
                        <div class="post-comt-box">
                            <form action='/<%=post[i]._id%>/comment' method="POST" >
                                <textarea type="text" name="comment" rows="1" placeholder="Post your comment"></textarea>
                            
                                           <button type="submit" class="btn btn-outline-dark">Post</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div> 
        </div>
        
    </div>
   
    <% } %>